
.mat-expansion-panel.ng-tns-c166-3.ng-star-inserted {
  border-radius: unset;
}
#mat-expansion-panel-header-1 {
  padding: 0 20px;
  background-color: #3f51b5;
}
.mat-expansion-panel-header-title.ng-tns-c168-4 {
  width: 100%;
  max-width: 50%;
  box-sizing: border-box;
  margin: 0;
}
.mat-expansion-panel-header-description.ng-tns-c168-4 {
  width: 100%;
  max-width: 50%;
  margin: 0;
  box-sizing: border-box;
  text-align: right;
  display: block;
  button {
    box-shadow: none !important;
  }
}
.dropdown-inner {
    width: 100%;
    max-width: 21.3%;
    margin: 0 5px 0 0;
}
.drop-serach{
    margin-right: 5px;
  button {
    box-shadow: none !important;
  }
}
h2 {
  color: black;
  font-size: 20px !important;
  line-height: 37px !important;
  box-sizing: border-box;
  margin: 0 !important;
  text-transform: uppercase;
  margin-bottom: 15px !important;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  display: flex;
  flex-grow: unset !important;
  margin-right: 0px !important;
}
.mat-raised-button{
  margin-right: 10px;
  vertical-align: text-bottom;
}
.mat-expansion-panel-header{
  padding-top: 10px;
}