.example-container {
  // width: 500px;
  height: 100%;
}

.example-sidenav-content {
  display:block;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px 0px;
  width:290px;
}

.example-spacer {
  flex: 1 1 auto;
}
button.mat-focus-indicator.mat-menu-trigger.mat-button.mat-button-base{
  display: block;
  width: 200px;
  text-align: left;
}

.mat-card{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}