.example-container {
  // width: 500px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display:block;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px 0px;
}

.example-spacer {
  flex: 1 1 auto;
}
button.mat-focus-indicator.mat-button.mat-button-base{
  display: block;
  width: 200px;
  text-align: left;
  .mat-icon.notranslate.material-icons.mat-icon-no-color {
    float: right;
    margin-top: 5px;
  }
}
