/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .container {
//   box-sizing: border-box;
//   width: 100%;
//   max-width: 1330px;
//   margin: 0 auto;
//   padding: 0 18px;
// }
.mat-expansion-panel-body {
  margin: 0px !important;
  padding: 0px !important;
}

.mat-drawer-container {
  height: auto !important;
}



.clearfix {
  display: block;
  content: "";
  clear: both;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

.mat-drawer-inner-container {
  overflow: visible !important;
}

.cdk-overlay-pane {
  width: 100%;
}

.main-popup {

  .mat-form-field {
    width: 100%;
    max-width: 48%;
    margin: 0 8px;
  }
}

.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
  width: auto;
  transform: translateX(-21px) translateY(27px) !important;
}
