/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 18px;
}
.mat-elevation-z8 {
    box-shadow: none !important;
}
.mat-drawer-content {
    overflow-y: clip !important;
}
h2 {
    color: #fff;
    font-size: 19px !important;
    line-height: 37px !important;
    box-sizing: border-box;
    margin: 0 !important;
}
.clearfix {
    display: block;
    content: "";
    clear: both;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
