/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 18px;
}
.mat-elevation-z8 {
    box-shadow: none !important;
}
.mat-drawer-content {
    overflow-y: clip !important;
}
.mat-expansion-panel-body {
    padding:18px 20px 0px !important;
}
h2 {
    color: #fff;
    font-size: 20px !important;
    line-height: 37px !important;
    box-sizing: border-box;
    margin: 0 !important;
    text-transform: uppercase;
}
.clearfix {
    display: block;
    content: "";
    clear: both;
    box-sizing: border-box;
}
.clr{
    clear: both;
}
.cdk-overlay-pane {
    width: 100%;
}
#mat-dialog-0{
}
.main-popup{
    h2 {
        background-color: #3f51b5;
        padding: 6px 32px;
        font-size: 20px !important;
        margin-bottom: 30px !important;
    }
    .mat-form-field {
        width: 100%;
        max-width: 48%;
        margin: 0 8px;
    }
}
.cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    width: auto;
    transform: translateX(-21px) translateY(27px) !important;
}