<div id="content">
    <div class="container">
        <div class="transaction-table">
            <div class="mat-elevation-z8">
                <table border="1">
                  <ng-container>
                    <tr>
                        <th>#</th>
                        <th><mat-checkbox></mat-checkbox></th>
                        <th>Id</th>
                        <th>Account Title</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Invoice No #</th>
                        <th>Check No</th>
                        <th>Details</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>#</td>
                        <td><mat-checkbox></mat-checkbox></td>
                        <td>Id</td>
                        <td>Account Title</td>
                        <td>Date</td>
                        <td>Type</td>
                        <td>Invoice No #</td>
                        <td>Check No</td>
                        <td>Details</td>
                        <td>Total Amount</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                  </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>
